.navbar {
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    &.open {
      display: flex;
      animation: slide-in 1s ease forwards;
    }
    &.close {
      animation: slide-out 1s ease forwards;
      // display: none;
    }
    @include respond(tab-land) {
      position: fixed;
      width: 100%;
      height: 100vh;
      right: 0%;
      top: 0;
      z-index: 1;
      background-image: linear-gradient(to right, #101016 0%, #252532 100%);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
  &__link {
    color: $text-light;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    border-radius: .5rem;

    @include respond(tab-land) {
  padding: 1rem 1rem 1rem 1rem;
    }
    &:hover {

      @include respond(tab-land) {
        background-color: $secondary-dark ;
        transform: translateX(-1rem) skew(10deg, 2deg);
      }
    }
    &:active {
      background-color: $primary-accent;
      transform: translateY(0.5rem);
    }
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      bottom: -1px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: $text-light;
      transition: all 0.2s;
    }
    &.active-link::after {
      width: 100%;
      @include respond(tab-land) {
        width: 0%;
      }
    }
    &:hover::after {
      width: 100%;
      @include respond(tab-land) {
        width: 0%;
        transform: translateX(-1rem);
      }
    }
  }
}
