.header {
  // background-color: green;
  width: 100%;
  padding: 20px;

  &__container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-light;
  }
  &__logo {
    font-size: 3rem;
    font-family: "Gugi-Regular";
  }
}
